.git
app/.pnp.*
app/.yarn/*
!app/.yarn/patches
!app/.yarn/plugins
!app/.yarn/releases
!app/.yarn/sdks
!app/.yarn/versions
!app/.yarn/cache
node_modules
packages/*/src
packages/*/node_modules
plugins
*.local.yaml
!packages/backend/src/opentelemetry.js
