$govuk-assets-path: "~govuk-frontend/govuk/assets/";
@import "~govuk-frontend/govuk/all";

:export {
  primaryColour: $govuk-brand-colour; 
  errorColour: $govuk-error-colour;
  linkColour: $govuk-link-colour;
  linkHoverColour: $govuk-link-hover-colour;
}
